*
!*.py
!*.yaml
!*.txt
!*.html
!*/
!*.conf
!*.js
!*.css
!*.jpg
!*.png
!*.gif
!*.ico
!*.font
!*.less
!*.eot
!*.woff
!*.svg
!*.json
!*.gitignore
!*.swf
!*.doc
!*.docx
!*.sh
!*.ini
project/conf/settings_local.py
project/www/static/vshare/download
