{% block head %}
<!-- BEGIN X-EDITABLE PLUGIN-->
    <link rel="stylesheet" type="text/css" href="/static/metronic1.4/assets/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css"/>
    <link rel="stylesheet" type="text/css" href="/static/metronic1.4/assets/plugins/bootstrap-editable/inputs-ext/address/address.css"/>
<!-- END X-EDITABLE PLUGIN-->
{% endblock %}
{% if layout == 'default' %}
    {% extends "admin/_layout.html" %}

    {% block page_title %} 分类 {% endblock %}
    {% block title %} 广告 <small>广告展示</small> {% endblock %}

    {% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ url_for('admin_advertising_list') }}">广告列表</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>{{ ad['name'] }}</li>
    </ul>
    {% endblock %}
{% else %}
    {% extends "admin/_tiny_layout.html" %}
{% endif %}

{% block content %}
<!-- BEGIN  TABLE PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="icon-edit"></i>广告列表</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="btn-group">
                <a class="btn green" data-toggle="modal" href="{{ url_for('admin_advertising_item_add', identifier=ad['identifier']) }}{% if layout != 'default' %}&layout=tiny{% endif%}">新添加广告 <i class="icon-plus"></i></a>
            </div>
            <div class="btn-group">
                <form action="#" method="">
                    <select id="country">
                        <option value="">All</option>
                        {% for country in country_options %}
                            <option value="{{country[1]}}" {% if count == country[1] %} selected {% endif %}>{{country[0]}}</option>
                        {% endfor %}
                    </select>
                    <select id="lang">
                        <option value="">All</option>
                        {% for lang in lang_options %}
                            <option value="{{lang[1]}}" {% if lan == lang[1] %} selected {% endif %}>{{lang[0]}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn blue" id="ad_search">搜索</button>
                </form>
            </div>
        </div>
        <div id="data_grad">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <td>图片</td>
                        <th>标题</th>
                        <th>链接</th>
                        <th>排序(点击修改)</th>
                        <th>投放语言</th>
                        <th>投放国家</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in ad_list %}
                    <tr>
                        <td>
                            <a class="fancybox-button" data-rel="fancybox-button" title="{{ a['title'] }}" href="{{ create_pic_url(a['store_path']) }}">
                                <div class="zoom">
                                    <img src="{{ create_pic_url(a['store_path']) }}" alt="{{ a['title'] }}" style="with:80px; height:60px" />                    
                                    <div class="zoom-icon"></div>
                                </div>
                           </a>
                        </td>
                        <td>{{ a['title'] }}</td>
                        <td>{{ a['link'] }}</td>
                        <td><a href="#" id="order" data-type="text" data-pk="{{ a['id'], identifier }}" data-original-title="Enter order" class="editable editable-click order" style="display: inline;">{{ a['order']|int }}</a></td>
                        <td>{% for lang in a['language'] %} {{lang}} {% endfor %}</td>
                        <td>{% for country in a['country'] %} {{country}} {% endfor %}</td>
                        <td>
                            <a class=" btn red" data-toggle="modal" href="#confirm_box_{{a['id']}}">删除</a>
                            <div id="confirm_box_{{a['id']}}" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                <div class="modal-body">
                                    <p>确定要删除吗?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn">取消</button>
                                    <button type="button" data-dismiss="modal" class="btn red" onclick="deleteAdvertisingItem('{{ad['identifier']}}', '{{a['id']}}')">确定</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END  TABLE PORTLET-->
{% endblock %}
{% block scripts %}
<!-- BEGIN X-EDITABLE PLUGIN -->
    <script type="text/javascript" src="/static/metronic1.4/assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/static/metronic1.4/assets/plugins/bootstrap-editable/inputs-ext/address/address.js"></script>
    <script type="text/javascript" src="/static/metronic1.4/assets/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script type="text/javascript" src="/static/metronic1.4/assets/scripts/my_form_editable.js"></script>
    <!-- END X-EDITABLE PLUGIN -->

<script>
jQuery(document).ready(function() {
    // initiate layout and plugins
    App.init();
    FormEditable.init();
});

function deleteAdvertisingItem(identifier, id){
    var ajax = NG.Ajax();
    var url = "{{url_for('admin_advertising_item_delete')}}?identifier="+identifier+"&id="+id;
    ajax.Get(url, function(res){
        location.reload();
    });
}

$("#ad_search").click(function(event) {
    event.preventDefault();
    var country = $("#country").val()
    var lang = $("#lang").val()
    var url = "{{url_for('admin_advertising_item_list')}}?identifier="+"{{ad['identifier']}}"+"&lang=" + lang + "&country="+country;
    window.location.href = url;
})
</script>
{% endblock %}

{% block menuName %}广告位置{% endblock %}
