{% if layout == 'default' %}
    {% extends "admin/_layout.html" %}

    {% block head %}
    <link href="/static/metronic1.4/assets/css/select2.css" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {% block page_title %} 分类 {% endblock %}
    {% block title %} 广告 <small>广告展示</small> {% endblock %}

    {% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ url_for('admin_advertising_item_list', identifier=identifier) }}">广告列表</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>添加</li>
    </ul>
    {% endblock %}
{% else %}
    {% extends "admin/_tiny_layout.html" %}
{% endif %}

{% block content %}
<!-- BEGIN  TABLE PORTLET-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption"><i class="icon-edit"></i>添加广告</div>
		<div class="tools">
		</div>
	</div>
	<div class="portlet-body form form-horizontal">
		{{ form.message() | safe }}
		{{ form.begin_form() | safe }}
		 {% for field in form.field_list() %}
		<div class="control-group {% if field.is_error() %}error{% endif %}">
			<label class="control-label">{{ field.label() | safe }}</label>
			<div class="controls">
				{{ field.field() | safe }}
				<span class="help-inline">
					{% if field.is_error() %}{{ field.error() | safe }}{% endif %}
				</span>
			</div>
		</div>
		{% endfor %}
		<div class="form-actions">
			<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
		</div>
		{{ form.end_form() | safe }}
	</div>
</div>
<!-- END  TABLE PORTLET-->
{% endblock %}

{% block scripts %}
<script src="/static/metronic1.4/assets/scripts/select2.min.js"></script>
<script type="text/javascript">


function FormatResult(item) {
    return item.name
}

function FormatSelection(item) {
    return item.name;
}

	$(document).ready(function() {
                window.adtype = "app";
		$("input:radio[name=adtype]").click(function() {
                    var tvalue = $(this).val(), value = "";
                    if (tvalue == "1") {
                      value = "app";
                    } else if(tvalue == "0") {
                      value = "topic";
                    } else {
                      value = "weburl";
                    }
		    window.adtype = value;
		});
		$("#adlink").select2({
			placeholder: "Search for a app or topic",
		    minimumInputLength: 2,
		    id: function(e){return e},
		    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
		        url: "{{ url_for('admin_advertising_item_query') }}",
		        dataType: 'json',
		        data: function (term, page) {
		            return {
		                q: term, // search term
		                page_limit: 10,
		                type: window.adtype
		            };
		        },
		        results: function (data, page) { // parse the results into the format expected by Select2.
		            // since we are using custom formatting functions we do not need to alter remote JSON data
		            return {results: data.data.items};
		        },
		    },
		    formatResult: FormatResult, // omitted for brevity, see the source of this page
		    formatSelection: FormatSelection,  // omitted for brevity, see the source of this page
		    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
		    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
		})

		$("#adlink").change(function(){
			var oid = $("#adlink").select2('data')._id["$oid"];
			$(this).val(oid);
		})
	});
	//redirect to list page when add successful
	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	function checkRedirect() {
		if("{{form.status()}}" == "success") {
			return true
		}
		return false
	}
	var identifier = getParameterByName("identifier")
	var layout = getParameterByName("layout")
	if(layout == ""){layout = "default"}
	if(checkRedirect() == true) {
		window.location.href = "{{url_for('admin_advertising_item_list')}}?identifier=" + identifier + "&layout=" + layout
	}
  $(document).ready(function() {
    $("div[class='controls']").eq(5).append("<label class='checkbox inline'><a href='javascript:void(0);' class='btn blue' onclick=checkall('language')>全选</a></label>")
    $("div[class='controls']").eq(5).append("<label class='checkbox inline'><a href='javascript:void(0);' class='btn blue' onclick=togglecheck('language')>反选</a></label>")
    $("div[class='controls']").eq(6).append("<label class='checkbox inline'><a href='javascript:void(0);' class='btn blue' onclick=checkall('country')>全选</a></label>")
    $("div[class='controls']").eq(6).append("<label class='checkbox inline'><a href='javascript:void(0);' class='btn blue' onclick=togglecheck('country')>反选</a></label>")
  });
function togglecheck(name) {
  $.each($("input[name='" + name + "']"), function(index, ele) {
    if (!$(ele).prop('checked')){
      $(ele).prop('checked', true);
    }
    else if ($(ele).prop('checked')){
      $(ele).prop('checked', false);
    }
    $(ele).parent().toggleClass('checked');
  });
}

function checkall(name) {
  $("input[name='" + name + "']").prop('checked', true);
  $.each($("input[name='" + name + "']"), function(index, ele) {
    $(ele).parent().addClass('checked');
  });
}
</script>
{% endblock %}
{% block menuName %}广告位置{% endblock %}
