{% extends "admin/_layout.html" %}

{% block page_title %} 广告位 {% endblock %}
{% block title %} 广告位 <small>列表</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="{{ url_for('admin_index_dashboard') }}">首页</a> 
    <i class="icon-angle-right"></i>
  </li>
  <li>广告列表</li>
</ul>  
{% endblock %}

{% block content %}

<div class="modal fade  hide in" data-width="700" id="add_modal">		
  <div class="modal-header">
    <a class="close" href="#" data-dismiss="modal"></a>
    <h3>广告位添加</h3>
  </div>
  <div class="modal-body inner">
    <div class="alert hide" id="form-alert"></div>
    <form action="" id="advertising-add-form" class="form-horizontal">
      <div class="control-group">
	<label class="control-label">名称</label>
	<div class="controls">
	  <input type="text" name="name" class="m-wrap large" />
	  <span class="help-inline"></span>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label">唯一标识符</label>
	<div class="controls">
	  <input type="text" name="identifier" class="m-wrap large" />
	  <span class="help-inline"></span>
	</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">取消</button>
    <button  class="btn red" onclick="addAdvertising()">确定添加</button>
  </div>
</div>

<!-- BEGIN  TABLE PORTLET-->
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="icon-edit"></i>应用集列表</div>
    <div class="tools"></div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="btn-group">
	<a class="btn green" data-toggle="modal" href="#add_modal">添加 <i class="icon-plus"></i></a>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
	<tr>
	  <th>名称</th>
	  <th>标识</th>
	  <th>操作</th>
	</tr>
      </thead>
      <tbody>
	{% for advertising in advertising_list %}
	<tr>
	  <td><strong>{{ advertising['name'] }}</strong></td>
	  <td>{{ advertising['identifier'] }}</td>
	  <td>
	    <a class=" btn green" data-toggle="modal" href="{{ url_for('admin_advertising_item_list', identifier=advertising['identifier']) }}">管理</a>
            {% if advertising['identifier'] != 'iphone_index_flash' and   advertising['identifier'] != 'ipad_index_flash' %}
	    <a class=" btn red" data-toggle="modal" href="#confirm_box_{{advertising['_id']}}">删除</a>
            {% endif %}
	    <div id="confirm_box_{{advertising['_id']}}" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
	      <div class="modal-body">
		<p>确定要删除吗?</p>
	      </div>
	      <div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">取消</button>
		<button type="button" data-dismiss="modal" class="btn red" onclick="deleteAdvertising('{{advertising['_id']}}')">确定</button>
	      </div>
	    </div>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- END  TABLE PORTLET-->
{% endblock %}

{% block scripts %}
<script>
  var ajax = NG.Ajax();

function deleteAdvertising(_id){
  var url = "{{url_for('admin_advertising_delete')}}?_id="+_id;
  ajax.Get(url, function(res){
    if(res.status == 'success'){
      location.reload();
    }else{
      alert(res)
    }
  });
}

function addAdvertising(){
  var url = '{{ url_for("admin_advertising_add") }}';
  var data = $('#advertising-add-form').serialize();
  ajax.Post(url, data, function(res){
    if(res.status == 'success'){
      $('#add_modal').modal('hide');
      location.reload();
    }else{
      $('#form-alert').html(res.message);
      $('#form-alert').show();
    }
  });	
}
</script>
{% endblock %}

{% block menuName %}广告位置{% endblock %}
