{% if layout == 'default' %}
    {% extends "admin/_layout.html" %}

    {% block head %}

    {% endblock %}

    {% block page_title %} 专题 {% endblock %}
    {% block title %} 专题 <small>专题添加</small> {% endblock %}

    {% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ url_for('admin_app_topic_list', identifier=identifier) }}">专题列表</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>添加</li>
    </ul>
    {% endblock %}
{% else %}
    {% extends "admin/_tiny_layout.html" %}
{% endif %}

{% block content %}
<!-- BEGIN  TABLE PORTLET-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption"><i class="icon-edit"></i>添加专题</div>
		<div class="tools">
		</div>
	</div>
	<div class="portlet-body form form-horizontal">
		{{ form.message() | safe }}
		{{ form.begin_form() | safe }}
		{% if icon %}
		<div class="control-group">
			<label class="control-label">图标</label>
			<div class="controls">
				{% if icon['url'] %}
					<img width="60" height="60" src="{{ create_pic_url(icon['url']) }}" />
				{% endif %}
			</div>
		</div>
		{% endif %}
		 {% for field in form.field_list() %}
		<div class="control-group {% if field.is_error() %}error{% endif %}">
			<label class="control-label">{{ field.label() | safe }}</label>
			<div class="controls">
				{{ field.field() | safe }}
				<span class="help-inline">
					{% if field.is_error() %}{{ field.error() | safe }}{% endif %}
				</span>
			</div>
		</div>
		{% endfor %}
		<div class="form-actions">
			<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
		</div>
        <div class="language-select"style="width:300px;position:absolute !important;left:435px;top:458px">
                    <input type="radio" name='all' class='all-language'style="margin-left:0px;" onclick=ChageSelect() data-attr="language"/>全选
                    <input type="radio" name='all' class='none-of-them'style="margin-left:0px;" onclick=ChageNoneof() data-attr="language"/>反选
        </div>
		{{ form.end_form() | safe }}
	</div>
</div>
<!-- END  TABLE PORTLET-->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
		function getParameterByName(name) {
		    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		        results = regex.exec(location.search);
		    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}
	//redirect to list page when add successful
	function checkRedirect() {
		if("{{form.status()}}" == "success") {
			return true
		}
		return false
	}

	if(checkRedirect() == true) {
		var layout = getParameterByName("layout")
		window.location.href = "{{url_for('admin_app_topic_list')}}?layout=" + layout
	}

    function ChageSelect(){
                var name = $(".all-language").attr('data-attr');
                $("input[name=" + name + "]").attr("checked", "checked")
                $("input[name=" + name + "]").parent().addClass("checked")
        }
        function ChageNoneof(){
                var name = $(".none-of-them").attr("data-attr");
                var name_array = $("input[name=" + name + "]")
                for(var i=0;i<name_array.length;i++){
                        if($(name_array[i]).attr("checked") == "checked"){
                                $(name_array[i]).removeAttr("checked")
                                $(name_array[i]).parent().removeClass("checked")
                        }else{
                                $(name_array[i]).attr("checked", "checked")
                                $(name_array[i]).parent().addClass("checked")
                        }
                var b= $('.modal-body').children("form").eq(0).attr('data-value')
                }
        }
</script>
{% endblock %}

{% block menuName %}应用专题{% endblock %}