{% extends "admin/_layout.html" %}

{% block head %}
{% endblock %}

{% block page_title %} 分类 {% endblock %}
{% block title %} 分类 <small>管理应用分类</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="{{ url_for('admin_index_dashboard') }}">首页</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li>分类</li>
	
</ul>  
{% endblock %}

{% block content %}
<!-- BEGIN  TABLE PORTLET-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption"><i class="icon-edit"></i>分类列表</div>
		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
			<a href="#portlet-config" data-toggle="modal" class="config"></a>
			<a href="javascript:;" class="reload"></a>
			<a href="javascript:;" class="remove"></a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<div class="btn-group">
				
    			<div id="loadingbar-frame">
					<img src="/static/metronic1.4/assets/img/ajax-loader.gif"/>
				</div>
			</div>
			
		</div>

        <form >
            <select id="get_genre" onchange="changeForm()" name="get_genre" data-value="{{ get_genre }}">

            <option value="6014" {% if get_genre == "6014" %} selected {% endif %}> 游戏 </option>
            <option value="6021" {% if get_genre == "6021" %} selected {% endif %}> 报刊 </option>
            <option value="1000" {% if get_genre == "1000" %} selected {% endif %}> 软件 </option>

            </select>
            <div>{% if get_genre != "6021" %} <a class="btn green" href="{{ url_for('admin_genre_items', genre_id=get_genre) }}">管理</a>{% endif %}</div>

        </form>



		<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
			<thead>
				<tr>
					<th>Icon</th>
					<th>名称</th>
                    <th>操作</th>
					<th>编辑LOGO</th>
                    <th>显示下载次数</th>
				</tr>
			</thead>
			<tbody>
				{% for genre in genre_list %}
				<tr >
					<td>
						<img src="{{ create_pic_url_by_path(genre.get('icon_file', '')) }}" alt="{{ genre['genreId'] }}" style="width: 60px; height: 60px" /></td>
					<td>{{ genre['genreName']['ZH'] }}</td>
					
                    <td>
			
                        <a class="btn green" href="{{ url_for('admin_genre_items', genre_id=genre['genreId']) }}">管理</a>			
                    </td>
					<td>
						<a class="btn green" href="{{ url_for('admin_genre_icon', genre_id=genre['genreId']) }}">编辑Icon<i class="icon-edit"></i></a>
                    </td>
                    <td>
                        <input type="text" value="">
                    </td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
        
    </div>
</div>
<!-- END  TABLE PORTLET-->
{% endblock %}

{% block menuName %}应用分类{% endblock %}

{% block scripts %}
<script>
$('#sync_genre').click(function(){
	// var ajax = NG.Ajax();
	// ajax.Get('{{ url_for('admin_genre_sync') }}', function(res){
	// 	location.reload();
	// });
	var jqxhr = $.ajax('{{ url_for('admin_genre_sync') }}')
	  .done(function() {
	   	location.reload();
	});
});


var ajax = NG.Ajax();
function changeForm(){
    var data = $('#get_genre').serialize();
    var url= "{{url_for('admin_genre_list')}}?"+data;
    window.location.href=url;
}



$('#loadingbar-frame').hide();
jQuery.ajaxSetup({
  beforeSend: function() {
     $('#loadingbar-frame').show();
  },
  complete: function(){
     $('#loadingbar-frame').hide();
  },
  success: function() {}
});

</script>
{% endblock %}
