{% if layout == 'default' %}
{% extends "admin/_layout.html" %}

{% block head %}

{% endblock %}

{% block page_title %} 分类 {% endblock %}
{% block title %} 应用列表 <small></small> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="{{ url_for('admin_genre_list') }}">应用分类</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">管理</a>
        </li>

    </ul>

{% endblock %}
{% else %}
    {% extends "admin/_tiny_layout.html" %}
{% endif %}

{% block content %}
{% include 'admin/_search_app_modal.html' %}


<!-- BEGIN  TABLE PORTLET-->
<div class="row-fluid">

	<!--页面的左边部分-->

	<div class="span5">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="icon-edit"></i>应用列表</div>
				<div class="tools"></div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="btn-group">
						<a class="btn red" data-toggle="modal"  onclick="searchApp()">搜索 <i class="icon-search"></i></a>
					</div>
					<input type="text" class="search-bunlid" placeholder="TrackId" style="margin-top:10px;margin-left:10px;">
					<div class="btn-group pull-right">
						<div id="loading" style="visibility:hidden;"><img src="/static/metronic1.4/assets/img/loading.gif" /></div>
					</div>
				</div>
				<form action="" id="app-collection-filter-version-form">
						<div class="form-horizontal">

						</div>
						</form>
				<div id="app_data_grad_left">
				<!--left-->
			</div>
		</div>
	</div>
</div>
	<div class="span7">

		<!-- 右边部分的-->

		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption"><i class="icon-edit"></i>应用列表</div>
				<div class="tools"></div>
			</div>
			<div class="portlet-body">
				<div class="row-fluid">
					<div class="span12">

						<form action="" id="app-aplication-filter-form" data-value="{{ genre_id }}">
							<div class="form-horizontal">
								<label>
									语言
									<select size="1" onchange="changeForm()" name="language" aria-controls="language" class="m-wrap small lang">
										<option value="all" selected="selected">全部</option>
										{% for lang in lang_options %}
                                        {% if lang['code'] != "zh-Hant" %}
										<option value="{{ lang['code'] }}">{{ lang['name'] }}</option>
                                        {% endif %}
										{% endfor %}
									</select>
	                                最新
	                                <select size="1" onchange="changeForm()" name="sort" aria-controls="sort" class="m-wrap small new">
	                                    				    <option value="sort" selected="">推荐</option>
									    <option value="hot" selected="">热门</option>
									    <option value="new" selected="selected">最新</option>

	                                </select>
	                                设备版本
	                                <select size="1" onchange="changeForm()" name='device' aria-controls='device' class="m-wrap small device">
	                                    <option value="ipad_0" selected="selected">Ipad越狱版</option>
					    <option value="ipad_1" selected="selected">Ipad正版</option>
					    <option value="iphone_0" selected="selected">Iphone越狱版</option>
					    <option value="iphone_1" selected="selected">Iphone正版</option>

	                                </select>
								</label>
							</div>
						</form>
					</div>
					<div id="aplication_data_grad">

					</div>
					<div class="table-toolbar"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END  TABLE PORTLET-->
{% endblock %}

{% block scripts %}
<script>

var ajax = NG.Ajax();
function loadRight(){
	var genid =$('#app-aplication-filter-form').data('value')
	var data = $('#app-aplication-filter-form').serialize();
	var ajax= NG.Ajax();
	var url= "{{url_for('admin_genre_right')}}?genre_id="+genid +'&'+data;
	ajax.Post(url,data,function(res){
		if (res.status =="success"){
			$("#aplication_data_grad").html(res.data);
		}
		App.initUniform();
	}, true);
}

function addToLeft(_id, itemId) {
	var ajax= NG.Ajax();
	var form = $('#'+_id+"_form");
	var itsss = $('input[name=sort]:checked').val();
	var theurl = window.location.href;
	var index = theurl.indexOf('genre_id=');
	var paramVal=theurl.substr(index,theurl.length);
	var bunldid= $('#'+itemId+'_form').attr('data-value')


	var lang1 = $('#'+itemId+'_form').serialize().replace(new RegExp('&language=','g'),',');
	var lang2 =lang1.replace(',','&language=');
	var lang3 = lang2.replace(new RegExp('&device_sign=','g'),':');
	var lang4 = lang3.replace(':','&device_sign=');
	var lang5 = lang4.replace(new RegExp('&sort=','g'),'*');
	var lang6 = lang5.replace('*','&sort=');

    if(lang6.indexOf('&language=')<0){
		alert("请选择语言 ！！！")
		return false
    }
    else if(lang6.indexOf('&device_sign=')<0){
		alert("请选择版本 ！！！")
		return false
    }
    else if(lang6.indexOf('&sort=')<0){
		alert("请选择栏目 ！！！")
		return false
    }
	else if(lang1 == lang6){
		alert("请勾选选项！！！")
		return false
	}
    else{

		var url = "{{url_for('app_genre_item_add')}}?"+ lang6 +"&bundleId="+bunldid + '&'+paramVal;
		//alert(url)
		ajax.Get(url, function(res){
			if(res.status == 'success'){
                removeRecord()
				loadRight();
			}
			else{
				alert(res.message);
			}
		 });
	}
}

function updateRight(_id, itemId) {
	var ajax= NG.Ajax();
	var form = $('#'+_id+"_form");
	var itsss = $('input[name=sort]:checked').val();
	var theurl = window.location.href;
	var index = theurl.indexOf('genre_id=');
	var paramVal=theurl.substr(index,theurl.length);
	var bunldid= $('#'+itemId+'_form').attr('data-value')


	var lang1 = $('#'+itemId+'_form').serialize().replace(new RegExp('&language=','g'),',');
	var lang2 =lang1.replace(',','&language=');
	var lang3 = lang2.replace(new RegExp('&device_sign=','g'),':');
	var lang4 = lang3.replace(':','&device_sign=');
	var lang5 = lang4.replace(new RegExp('&sort=','g'),'*');
	var lang6 = lang5.replace('*','&sort=');

    if(lang6.indexOf('&language=')<0){
		alert("请选择语言 ！！！")
		return false
    }
    else if(lang6.indexOf('&device_sign=')<0){
		alert("请选择版本 ！！！")
		return false
    }
    else if(lang6.indexOf('&sort=')<0){
		alert("请选择栏目 ！！！")
		return false
    }
	else if(lang1 == lang6){
		alert("请勾选选项 ！！！")
		return false
	}
    else{
		var url = "{{url_for('app_genre_item_add')}}?update=1&itemId="+ itemId +"&"+ lang6 +"&bundleId="+bunldid + '&'+paramVal;
		//alert(url)
		ajax.Get(url, function(res){
			if(res.status == 'success'){
				loadRight();
			}
			else{
				alert(res.message);
			}
		 });
	}
}


function deleteRight(genre_id,formid){
    var data = $(formid).serialize();
    var bundleId = $("input[name='delete_bundleid']").val();
    var lang0 = data.split('&delete_bundleid='+bundleId);
    var lang1 = lang0[0].replace(new RegExp('&language=','g'),',');
	var lang3 = lang1.replace(new RegExp('&device_sign=','g'),':');
	var lang4 = lang3.replace(':','&device_sign=');
	var lang5 = lang4.replace(new RegExp('&sort=','g'),'*');
	var lang6 = lang5.replace('*','&sort=');
    var url = "{{url_for('app_genre_item_delete')}}?de=1&bundleId="+bundleId +'&genre_id='+genre_id+'&'+lang6;

    if(lang6.indexOf('language=')<0){
		alert("请选择语言 ！！！")
		return false
    }
    else if(lang6.indexOf('&device_sign=')<0){
		alert("请选择版本 ！！！")
		return false
    }
    else if(lang6.indexOf('&sort=')<0){
		alert("请选择栏目 ！！！")
		return false
    }
    else{
        ajax.Get(url, function(res){
            if(res.status == 'success'){
                alert(res.message);
                loadRight();
            }else{
                alert(res.message);
            }
        });
    }
}

function deleteRight2(bundleId,genre_id){
	var url = "{{url_for('app_genre_item_delete')}}?bundleId="+bundleId +'&genre_id='+genre_id;
	ajax.Get(url, function(res){
		if(res.status == 'success'){
            $("#delete_lans").empty()
            $("#delete_devices").empty()
            $("#delete_so").empty()
            var dehtml = ""
            for(var i= 0;i<res.data.lans.length;i++){
                if(res.data.lans[i]=='zh-Hans'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:17px;height:17px;' name='language' value='zh-Hans' /> 中文简体 Chinese &nbsp;&nbsp;</label>"
                }
                if(res.data.lans[i]=='ar'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:17px;height:17px;' name='language' value='ar' /> 阿拉伯语 Arabic &nbsp;&nbsp;</label>"
                }
                if(res.data.lans[i]=='en'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:17px;height:17px;' name='language' value='en' /> 英语 English &nbsp;&nbsp;</label>"
                }
            }
            $("#delete_lans").append(dehtml)

            var dehtml = ""
            for(var i= 0;i<res.data.devices.length;i++){
                if(res.data.devices[i]=='iphone_1'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='device_sign' value='iphone_1' /> iphone(正版) &nbsp;&nbsp;</label>"
                }
                if(res.data.devices[i]=='iphone_0'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='device_sign' value='iphone_0' /> iphone(越狱版) &nbsp;&nbsp;</label>"
                }
                if(res.data.devices[i]=='ipad_1'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='device_sign' value='ipad_1' /> ipad(正版) &nbsp;&nbsp;</label>"
                }
                if(res.data.devices[i]=='ipad_0'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;'name='device_sign' value='ipad_0' /> ipad(越狱版) &nbsp;&nbsp;</label>"
                }
            }
            $("#delete_devices").append(dehtml)

            var dehtml = ""
            for(var i= 0;i<res.data.so.length;i++){
                if(res.data.so[i]=='sort'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='sort' value='sort' /> 推荐&nbsp;&nbsp;</label>"
                }
                if(res.data.so[i]=='hot'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='sort' value='hot' /> 热门&nbsp;&nbsp;</label>"
                }
                if(res.data.so[i]=='new'){
                    dehtml+= "<label class='checkbox'><input type='checkbox' style='width:19px;height:19px;' name='sort' value='new' /> 最新&nbsp;&nbsp;</label>"
                }
            }
            $("#delete_so").append(dehtml)
            $("#delete_bundleid").append("<input type='text' name='delete_bundleid' value='"+res.data.bundleid+"' style='visibility:hidden'/>")
            $("#delete2").css("display","block")
		}else{
			alert(res.message);
		}
	});
}

function removeRecord() {
    if ($("span").hasClass("checked")==true){
		$("span").removeClass("checked")
    }
}

function changeForm(){
	loadRight()
}

function changeVersionForm() {
	$('#loading').css({"visibility":"visible"});
	var theurl = window.location.href;
	var index = theurl.indexOf('genre_id');
	var paramVal=theurl.substr(index,theurl.length);
	var ajax = NG.Ajax();
	var url = "{{url_for('admin_genre_left')}}?"+paramVal;
	ajax.Get(url,function(res){
		if(res.status='success'){
			$('#app_data_grad_left').html(res.data);
		}
		$('#loading').css({"visibility":"hidden"});
		//重新渲染
		App.initUniform();
	},true);

}

function updateSort(){
	var url = '{{ url_for("admin_app_collection_item_sort") }}';
	var data = $('#app-collection-form').serialize();
	ajax.Post(url, data, function(res){
		if(res.status == 'success'){
			loadRight();
		}
	});
}

function searchApp(){
	var valSer= $('.search-bunlid').val();
	if (valSer== ""){
		return false;
	}else{
	    var url = "{{url_for('admin_genre_left')}}?trackId=" + valSer;
	}

	var ajax= NG.Ajax();
	ajax.Get(url,function(res){
		$('#loading').css({"visibility":"visible"});
		if (res.status='success'){
			$('#app_data_grad_left').html(res.data);
		}
		$('#loading').css({"visibility":"hidden"});
		App.initUniform();
	},true);

}
//sdasdasdasdasd
function ajaxPage(url) {
	var p = url.split('?');
	if(p[1]){
		location.hash = '#' + p[1];
	}
	$('#loading').css({"visibility":"visible"});
	var ajax = NG.Ajax();
	ajax.Get(url, function(res){
		if(res.status='success'){
			$('#app_data_grad_left').html(res.data);
		}
		$('#loading').css({"visibility":"hidden"});
		//重新渲染
		App.initUniform();
	}, true);
}

function ajaxPagerig(url) {
	var p = url.split('?');
	if(p[1]){
		location.hash = '#' + p[1];
	}
	$('#loading').css({"visibility":"visible"});
	var ajax = NG.Ajax();
	ajax.Get(url, function(res){
		if(res.status='success'){
			$('#aplication_data_grad').html(res.data);
		}
		$('#loading').css({"visibility":"hidden"});
		//重新渲染
		App.initUniform();
	}, true);
}

//加载可选应用列表
ajaxPage("{{url_for('admin_genre_left')}}");

//加载集合应用列表
loadRight();

changeVersionForm()

</script>
{% endblock %}

{% block menuName %}应用分类{% endblock %}
