{% extends "admin/_layout.html" %}

{% block head %}
<link href="/static/uploadify/uploadify.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_title %} 分类 {% endblock %}
{% block title %} 应用 <small>管理应用</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="{{ url_for('admin_index_dashboard') }}">首页</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li>
		<a href="{{ url_for('admin_app_list') }}">应用列表</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li>
        <a href="{{ url_for('admin_app_edit', bundleId=app['bundleId']) }}">{{app['trackName']}}</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>截图</li>
</ul>  
{% endblock %}

{% block content %}
<div class="tabbable tabbable-custom tabbable-full-width">
	<ul class="nav nav-tabs">
		<li><a href="{{ url_for('admin_app_edit') }}?bundleId={{app['bundleId']}}">基本属性</a></li>
		<li><a href="{{ url_for('admin_app_download_list') }}?bundleId={{app['bundleId']}}">下载地址</a></li>
		<li class="active"><a href="#">应用截图</a></li>
	</ul>
    
	<div class="tab-content">
        <div class="table-toolbar">
            <div class="btn-group">
                <a class="btn green" data-toggle="modal" href="#screenshot_upload_modal">上传截图<i class="icon-upload"></i></a>
            </div>
        </div>
        <hr class="clearfix">
        <div class="row-fluid">
            <h4>iphone(中)</h4>
            <div id="iphone_screenshot_cn"></div>
        </div>
        <div class="row-fluid">
            <h4>iphone(英)</h4>
            <div id="iphone_screenshot_en"></div>
        </div>
        <div class="row-fluid">
            <h4>ipad(中)</h4>
            <div id="ipad_screenshot_cn"></div>
        </div>
        <div class="row-fluid">
            <h4>ipad(英)</h4>
            <div id="ipad_screenshot_en"></div>
        </div>
	</div>
</div>

<div class="modal fade  hide in" data-width="700" id="screenshot_upload_modal">
	<div class="modal-header">
		<a class="close" href="#" data-dismiss="modal"></a>
		<h3>文件上传</h3>
	</div>
	<div class="modal-body inner">
		<div class="alert hide"></div>
		<form action="" id="screenshot-upload-form" class="form-horizontal">
            <input type="hidden" name="bundleId" value="{{ app['bundleId'] }}" />
            <div class="control-group">
                <label class="control-label">设备</label>
                <div class="controls">
                    <label class="radio">
                    <input type="radio" name="device" value="iphone" checked />
                    iphone
                    </label>
                    <label class="radio">
                    <input type="radio" name="device" value="ipad" />
                    ipad
                    </label>  
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">语言</label>
                <div class="controls">
                    <label class="radio">
                    <input type="radio" name="lang" value="en" checked />
                    EN
                    </label>
                    <label class="radio">
                    <input type="radio" name="lang" value="cn" />
                    CN
                    </label>  
                </div>
            </div>

            <div class="control-group">
				<label class="control-label">截图</label>
				<div class="controls">
					<input type="file" name="screenshot" id="screenshot"  class="m-wrap large" />
					<span class="help-inline" id="upload_info">选择上传的图片文件</span>
				</div>
			</div>
		</form>
	</div>		
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">取消</button>
		<button  class="btn red" onclick="ScreenshotUpload()">开始上传</button>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(function() {
        loadScreenShot('iphone', "cn");
        loadScreenShot('iphone', "en");
        loadScreenShot('ipad', "cn");
        loadScreenShot('ipad', "en");
        $('#screenshot').uploadify({
            'auto'     : false,
            'buttonText' : '选择文件',
            'fileTypeExts' : '*.jpg;*.png;*.jpeg',
            'swf'      : '/static/uploadify/uploadify.swf',
            'uploader' : '{{url_for('admin_app_screenshot_upload')}}',
            'onUploadSuccess' : function(file, data, response) {
                var res = $.parseJSON(data);
                $('#upload_info').html(res.message);
                loadScreenShot('iphone', "cn");
                loadScreenShot('iphone', "en");
                loadScreenShot('ipad', "cn");
                loadScreenShot('ipad', "en");
                $('#screenshot').uploadify('upload');
            },
            'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                $('#upload_info').html('上传失败');
            }
        });
    });
    function ScreenshotUpload(){
        var form_data = $("#screenshot-upload-form").serializeObject();
        $('#screenshot').uploadify('settings','formData',form_data);
        $('#screenshot').uploadify('upload');
    }
    function loadScreenShot(device, lang){
        $('#'+device+'_screenshot_'+lang).html("");
        $.getJSON('{{url_for('admin_app_screenshot_list')}}?bundleId={{app['bundleId']}}&device='+device+'&lang='+lang, {}, function(res){
            if(res.status == 'success'){
                $('#'+device+'_screenshot_'+lang).html(res.data);
                App.initFancybox();
            }else{
                alert(res.message);
            }
        });

    }
    function removePic(pic_url, device, lang){
        var url = '{{ url_for('admin_app_screenshot_delete') }}';
        $.post(url, {'url': pic_url, 'lang':lang, 'device': device, 'bundleId': '{{app['bundleId']}}'}, function(res){
            res = $.parseJSON(res);
            if (res.status == 'success'){
                loadScreenShot('iphone', "cn");
                loadScreenShot('iphone', "en");
                loadScreenShot('ipad', "cn");
                loadScreenShot('ipad', "en");
            }else{
                alert(res.message);
            }
        });
    }
</script>
{% endblock %}
