{% extends "admin/_layout.html" %}
{% block head %}
<style>
		.bgblue th{
			background-color: #4D90FE !important;
			color: #fff !important;
			font-weight: bold;
		}
		.bdblue{
			border: 1px solid #4D90FE;
		}
</style>
{% endblock %}
{% block page_title %} 账号管理 {% endblock %}
{% block title %} 收费应用 <small>账号管理</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>账号管理</li>
</ul>
{% endblock %}

{% block content %}
<h3>{{ current_user.username }}</h3>
        <a class="btn green" data-toggle="modal" href="#account-manage-task">添加 <i class="icon-plus"></i></a>
            <div class="">
				<div class="portlet-body bdblue">
					<table class="table table-striped table-hover">
						<thead>
							<tr class='bgblue'>
								<th>地区</th>
								<th>注册账号</th>
								<th>含应用数</th>
								<th>邮箱密码</th>
								<th>iTunes密码</th>
								<th>iTunes密保</th>
								<th>状态</th>
								<th>余额</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
                          {% for account in account_list %}
							<tr>
                              <td id='co'>{{ account['country'] }}</td>
                              <td id='ac'>{{ account['apple_account'] }}</td>
                              <td id='an'>{{ account['app_num'] }}</td>
                              <td id='ep'>{{ account['email_passwd'] }}</td>
                              <td id='ip'>{{ account['itunes_passwd'] }}</td>
                              <td id='is'>{{ account['itunes_sec'] }}</td>
                              <td id='st'>
                                {% if account['status'] == 'abnormal' %}
                                异常
                                {% elif account['status'] == 'normal' %}
                                正常
                                {% elif account['status'] == 'unknown' %}
                                未知
                                {% endif %}
                              </td>
                              <td id='ba'>{{ account['balance'] }}<i class="fa fa-edit"></i></td>
                              <td><a class="btn blue mini edit-btn" vale={{ account['_id'] }} href="#"><i class="icon-edit"></i></a>
                                <a class="btn red mini" data-toggle="modal" href="#confirm_delete_{{ account['_id'] }}">删除</a>
                              <div id="confirm_delete_{{ account['_id'] }}" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                <div class="modal-body">
                                    <p>确定要删除吗?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn">取消</button>
                                    <button type="button" data-dismiss="modal" class="btn red" onclick="delAppleAccount('{{ account['_id'] }}')">确定</button>
                                </div>
                            </div>
                        </td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div  tabindex="-1" class="modal hide fade in" id="account-manage-task" style="margin-top: -61.5px;" aria-hidden="false">
                <div class="modal-header">
                  <a class="close" href="#" data-dismiss="modal"></a>
                  <h3>帐号管理</h3>
                </div>
				<div class="modal-body">
						<div class="row-fluid">
                          <form id='form_apple_account' action="{{ url_for('apple_account_add') }}" method="post" class="form-horizontal">	
                            <div class="control-group">
                                <label class="control-label">注册帐号</label>
                                <div class="controls">
                                    <input id="ac" type="text" name="apple_account" placeholder="" class="m-wrap medium">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">应用数量</label>
                                <div class="controls">
                                    <input id="an" type="text" name="app_num" placeholder="" class="m-wrap medium">
                                </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">地区</label>
                              <div class="controls">
                                <select id="co" name="country">
                                  {% for country in country_list %}
                                  <option value="{{country['code']}}">{{ country['name']}}</option>
                                  {% endfor %}
                                </select>
                                </div>
                              </div>
								<div class="control-group">
									<label class="control-label">邮箱密码</label>
									<div class="controls">
										<input id="ep" type="text" name="email_passwd" placeholder="" class="m-wrap medium">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">iTunes密码</label>
									<div class="controls">
										<input id="ip" type="text" name="itunes_passwd" placeholder="" class="m-wrap medium">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">iTunes密保</label>
									<div class="controls">
										<input id="is" type="text" name="itunes_sec" placeholder="" class="m-wrap medium">
									</div>
								</div>																
								<div class="control-group">
									<label class="control-label">账户状态</label>
									<div class="controls">
										<label class="radio">
										<div class="radio"><input type="radio" name="status" value="normal"></div>
									    正常	
										</label>
										<label class="radio">
										<div class="radio"><input type="radio" name="status" value="abnormal"></div>
										异常
										</label>  
										<label class="radio">
										<div class="radio"><input type="radio" name="status" value="unknown"></div>
										未知
										</label>  
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">余额</label>
									<div class="controls">
										<input id="ba" type="text" name="balance" placeholder="" class="m-wrap medium">
									</div>
								</div>								
								<div class="form-actions">
									<button type="submit" class="btn blue"><i class="icon-ok"></i>保存</button>
									<button type="button" class="btn" data-dismiss="modal">取消</button>
								</div>
							</form>						

						</div>
				</div>
			</div>
			<!-- <div class="modal-backdrop fade in" style="z-index: 10049;"></div> -->					
{% endblock %}

{% block scripts %}
<script type="text/javascript">
//$('#cancel-btn').on('click',function(){
	//$('#account-manage-task').hide();
	//$('.modal-backdrop').hide();
//})
$('.edit-btn').click(function(){
  $('select#co').val($(this).parent().siblings('td#co').text());
  $('input#ac').val($(this).parent().siblings('td#ac').text());
  $('input#ep').val($(this).parent().siblings('td#ep').text());
  $('input#ip').val($(this).parent().siblings('td#ip').text());
  $('input#is').val($(this).parent().siblings('td#is').text());
  $('input#ba').val($(this).parent().siblings('td#ba').text());
  $('input#an').val($(this).parent().siblings('td#an').text());
  var option = $(this).parent().siblings('td#st').text();
  option = option.replace(/(^\s*)|(\s*$)/g, "")
  if (option == '正常') {
    $("input[name='status'][value='abnormal']").parent().removeClass("checked");
    $("input[name='status'][value='unknown']").parent().removeClass("checked");
    $("input[name='status'][value='normal']").parent().addClass("checked");
    $("input[name='status'][value='normal']").attr("checked", true);
  } else if (option == '异常') {
    $("input[name='status'][value='normal']").parent().removeClass("checked");
    $("input[name='status'][value='unknown']").parent().removeClass("checked");
    $("input[name='status'][value='abnormal']").parent().addClass("checked");
    $("input[name='status'][value='abnormal']").attr("checked", true);
  } else {
    $("input[name='status'][value='normal']").parent().removeClass("checked");
    $("input[name='status'][value='abnormal']").parent().removeClass("checked");
    $("input[name='status'][value='unknown']").parent().addClass("checked");
    $("input[name='status'][value='unknown']").attr("checked", true);
  }
  $('#account-manage-task').modal('show');
  $('#form_apple_account').attr('action', "{{ url_for('apple_account_add')}}?id=" + $(this).attr('vale'));
  //$('.modal-backdrop').show();
})

function delAppleAccount(id){
  var ajax = NG.Ajax();
  var url = "{{url_for('apple_account_delete') }}?id=" + id;
  ajax.Get(url, function(res){
    location.reload();
  });
}
</script>
{% endblock %}

{% block menuName %}账号管理{% endblock %}
{% block titleType %}a{% endblock %}
