{% extends "admin/_layout.html" %}

{% block page_title %} 账号管理 {% endblock %}
{% block title %} 收费应用 <small>账号管理</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>账号管理</li>
</ul>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}

{% block menuName %}账号管理{% endblock %}
