{% extends "admin/_layout.html" %}
{% block head %}
<style>
.fl{
    float: left;
}
.b{
    font-weight: bold;
}
.f16{
    font-size: 16px;
}
.cl{
    clear: both;
}
.cred{
    color: red;
}
.cgreen{
    color: green;
}
.cblue{
    color: #4B8DF8;
}
.mr2{
    margin-right: 2px;
}
.bdbgrey{
    border: 1px solid #EEEEEE;
}
.bdblue{
    border: 1px solid #4B8DF8;
}
.misson-btn .btn{
    padding:14px 58px;
    border-radius: 10px !important;

}

</style>
{% endblock %}
{% block page_title %} 购买更新 {% endblock %}
{% block title %} 收费应用 <small>购买更新</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>购买更新</li>
</ul>
{% endblock %}

{% block content %}
<div class='f16'>
  <div>
    <p class='fl b'>购买统计考核：</p>
    <br>
    <!-- <p class='fl'> -->
      <table class='table' style='font-size:14px'>
        <tr>
          <td>编辑</td>
          <td>购买|更新</td>
          <td>编辑</td>
          <td>购买|更新</td>
          <td>编辑</td>
          <td>购买|更新</td>
          </tr>
        {% for i in indicators %}
        <tr>
          {% for item in indicators[i] %}
          <td>{{ item[0] }}</td>
          <td>{{ item[1]['buy'] }}|{{ item[1]['update'] }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>

    <!-- </p> -->
  </div>
  <div class="cl"></div>
  <div class="bdbgrey cl"></div>
</div>
<h3 ><span class='cblue'>我的收费应用列表<span></h3>
<div class="span12" style="margin-left: 0px;">
  <!-- BEGIN SAMPLE TABLE PORTLET-->
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <a class="btn red" id='buy-list-btn' href="{{ url_for('app_buy') }}">购买应用</a>
        <a class="btn green" id='tobeupdate-list' href="{{ url_for('app_update') }}">待更新列表</a>
        <a class="btn yellow" id='all-list' href="{{ url_for('app_all') }}">所有任务记录</a>
        <a class="btn purple"  href="#app_record_manually" data-toggle="modal">手工录入</a>
          <div id="app_record_manually" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
              <div class="modal-header">
                 <a class="close" href="#" data-dismiss="modal"></a>
                 <h3>购买应用手工录入</h3>
              </div>
              <div class="modal-body">
                  <form action="#"  id="record_manually_form" name="record_manually_form" class="form-horizontal" data-value="">
                        <div class="control-group">
                            <label class="control-label"><b>苹果ID</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_trackid" placeholder="  Trackid" style="width:220px;" />
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>应用名称</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_trackname" placeholder="  Trackname" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>版本</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_version" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>价格</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_price" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>国家</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_country" placeholder="  US" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>货币</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_currency" placeholder="  USD" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>购买账号</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_apple_account" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>入库时间</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_recieve_time" placeholder=" 2015-04-01 00:00:00" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><b>购买链接</b></label>
                            <div class="controls">
                                <input type="text" id="record_manually" name="input_link_url" style="width:220px;"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class ="control-group">
                            <label class="control-label"><b>状态</b></label>
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name= "radio_status" value="buying" checked/>正在入库
                                </label>
                                <label class="radio">
                                    <input type="radio" name= "radio_status" value="bought"/>入库完成
                                </label>
                            </div>
                        </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn" onclick="removeValues()">取消</button>
                <button type="button" data-dismiss="modal" class="btn red" onclick="addManually()">更新</button>
              </div>
          </div>

      </div>
    </div>
    {% block no_free_apps%}
    {% endblock %}

    <!-- END SAMPLE TABLE PORTLET-->
  </div>
     <script type="text/javascript">

    function removeValues() {
        $("input[id='record_manually']").val("");
    };

    function addManually(){
        var trackid = $("input[name='input_trackid']").val();
        var trackname = $("input[name='input_trackname']").val();
        var version = $("input[name='input_version']").val();
        var price = $("input[name='input_price']").val();
        var country = $("input[name='input_country']").val();
        var currency = $("input[name='input_currency']").val();
        var apple_account = $("input[name='input_apple_account']").val();
        var recieve_time = $("input[name='input_recieve_time']").val();
        var link_url = $("input[name='input_link_url']").val();
        var status = $("input[name='radio_status']:checked").val()
        var url = "{{url_for('app_buy')}}?manually=1&trackid="+trackid+'&trackname='+trackname+'&version='+version+'&price='+price+'&country='+country+'&currency='+currency+'&apple_account='+apple_account+'&recieve_time='+recieve_time+'&link_url='+link_url+'&status='+status;
        var r=recieve_time.match(/^(\d{1,4})\-(\d{1,2})\-(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/);
        if(trackid==''){
            alert("请填写苹果ID ！！！")
            return false
        }
        else if(trackname==''){
            alert("请填写应用名称 ！！！")
            return false
        }
        else if(version==''){
            alert("请填写版本 ！！！")
            return false
        }
        else if(price==''){
            alert("请填写价格 ！！！")
            return false
        }
        else if(country==''){
            alert("请填写国家 ！！！")
            return false
        }
        else if(currency==''){
            alert("请填写货币 ！！！")
            return false
        }
        else if(status=='bought'){
            if(apple_account==''){
                alert("请填写购买账号 ！！！")
                return false
            }
        }
        else if(recieve_time==''){
            alert("请填写入库时间 ！！！")
            return false
        }
        else if(link_url==''){
            alert("请填写购买链接 ！！！")
            return false
        }
        else if(r==null){
            alert("请填写正确的入库时间 ！！！")
            return false
        }
        ajax.Get(url, function(res){
        });
        window.location.reload();
    }

   </script>
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript">
  $('#add-btn').on('click',function(){
    var new_ipt = $('<input type="text" class="m-wrap medium mr2" placeholder="">')
    $('#ipts').append(new_ipt);
  });

  </script>
  {% endblock %}
  {% block menuName %}购买更新{% endblock %}
  {% block titleType %}a{% endblock %}
