{% extends "admin/_layout.html" %}
{% block head %}
<style>
.fl{
    float: left;
}
.b{
    font-weight: bold;
}
.f16{
    font-size: 16px;
}
.cl{
    clear: both;
}
.cred{
    color: red;
}
.cgreen{
    color: green;
}
.cblue{
    color: #4B8DF8;
}
.mr2{
    margin-right: 2px;
}
.bdbgrey{
    border: 1px solid #EEEEEE;
}
.bdblue{
    border: 1px solid #4B8DF8;
}
.misson-btn .btn{
    padding:14px 58px;
    border-radius: 10px !important;

}

</style>
{% endblock %}
{% block page_title %} 购买更新 {% endblock %}
{% block title %} 收费应用 <small>购买更新</small> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="{{ url_for('admin_index_dashboard') }}">首页</a>
    <i class="icon-angle-right"></i>
  </li>
  <li>购买更新</li>
</ul>
{% endblock %}

{% block content %}
<div class='f16'>
  <div>
    <p class='fl b'>购买统计考核：</p>
    <p class='fl'>
      {% for res in indicators %}
      <a href="#">{{ res }}:购买({{ indicators[res]['buy'] }})\更新({{ indicators[res]['update'] }})</a>
      {% endfor %}
    </p>
  </div>
  <div class="cl"></div>
  <div class="bdbgrey cl"></div>
</div>
<h3 ><span class='cblue'>我的收费应用列表<span></h3>
<div class="span12" style="margin-left: 0px;">
  <!-- BEGIN SAMPLE TABLE PORTLET-->
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <a class="btn red" id='buy-list-btn' href="{{ url_for('app_buy') }}">购买应用</a>
        <a class="btn green" id='tobeupdate-list' href="{{ url_for('app_update') }}">待更新列表</a>
        <a class="btn yellow" id='all-list' href="{{ url_for('app_all') }}">所有任务记录</a>
      </div>
    </div>
    {% block no_free_apps%}
    {% endblock %}

    <!-- END SAMPLE TABLE PORTLET-->
  </div>
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript">
  $('#add-btn').on('click',function(){
    var new_ipt = $('<input type="text" class="m-wrap medium mr2" placeholder="">')
    $('#ipts').append(new_ipt);
  });
  </script>
  {% endblock %}
  {% block menuName %}购买更新{% endblock %}
  {% block titleType %}a{% endblock %}
