{% extends "admin/_layout.html" %}

{% block head %}

{% endblock %}

{% block page_title %} Dashbord {% endblock %}
{% block title %} 缓存状态 {% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="{{ url_for('admin_index_dashboard') }}">首页</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<a href="{{ url_for('admin_app_list') }}">缓存状态</a> 
			<i class="icon-angle-right"></i>
		</li>
	</ul> 
{% endblock %}

{% block content %}
	
	<div class="row-fluid">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>APPINFO_EN</th>
					<th >APPVERSION_EN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="cached_appinfo_count"></td>
					<td id="cached_appversion_count"></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block menuName %}缓存状态{% endblock %}

{% block scripts %}
<script>
function getCacheStatus(){
	$.getJSON('{{ url_for("admin_cache_app_info_status") }}', {}, function(res){
		for(var key in res.data){
			$('#'+key).html(res.data[key]);
		}
	});
}
setInterval('getCacheStatus()', 1000);
</script>
{% endblock %}