 <!--首页-->
<div id="topic_screen">
    <div id="nav_bar"></div>
    <ul id="tab_bar">
        <li><a href="javascript:;" onclick="load_home_screen()" id="home_screen_tab">推荐</a> </li>
        <li><a href="javascript:;" onclick="load_topic_screen()" id="topic_screen_tab">特色专题</a> </li>
    </ul>
    <div id="topic_list">
        <div class="editor_btn"><a href="javascript:;" onclick="editor('iphone_topic_list')">编辑此区域</a></div>
        <ul class="app_list" id="topic_list_box"></ul>
    </div>
</div>